.header {
    
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 40% top;
    background-repeat: no-repeat;
    
}

.main-title, .tagline {
    position: absolute;
    
    background-color: rgb(255, 255, 255,0.5);
    left: 0;
    padding:1rem ;

}

.main-title {
    bottom: 60%;
    
}

.tagline {
    top: 40%;
}

@media screen and (min-width:767px){
    .main-title, .tagline {
        position: absolute;
        left: 50%;
        
    }
}